body {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	height: 100vh;
}

#section-1 {
	background: #E44446;
	height: 80%;
	position: relative;
}

#section-1-div {
	display: flex;
	background: #F1CED5;
	width: 55%;
	height: 50%;
	box-shadow: 20px 20px #E9898D;
	color: #E44446;
	font-weight: bolder;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	top: 50;
	left: 50;
	transform: translate(-50px, 50px);
}

#section-1-div p {
	margin: .2em;
}

#section-1-div p:first-child {
	font-size: 2.5em;
}

#section-1-div p:nth-child(2) {
	font-size: 1.5em;
}

#section-1-div p:last-child {
	font-size: 3em;
}

#section-2 {
	background: #F1CED5;
}

#section-2-div {
	display: flex;
	justify-content: space-between;
	height: 80%;
}

#section-2-div div {
	height: 50%;
	width: 40%;
	margin: auto;
	background: #E44446;
	color: #F1CED5;
	box-shadow: 20px 20px #EC878D;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#section-2-div p {
	padding: 30px;
	font-size: 3em;

}

