body {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	height: 100vh;
}

.section__div {
	height: 90%;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
}

#section__div--first, #section__div--third, #section__div--third {
	background: #E44446;
}

#section__div--intro {
	display: flex;
	background: #F1CED5;
	width: 55%;
	height: 50%;
	box-shadow: 20px 20px #E9898D;
	color: #E44446;
	font-weight: bolder;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	top: 120;
}

#section__div--intro p {
	margin: .2em;
}

#section__div--intro p:first-child {
	font-size: 2.5em;
}

#section__div--intro p:nth-child(2) {
	font-size: 1.5em;
}

#section__div--intro p:last-child {
	font-size: 3em;
}

#section__div--second {
	background: #F1CED5;
}

.section__div--cards {
	display: flex;
	justify-content: space-evenly;
}

.section__div--red-card {
	width: 40%;
	background: #E44446;
	color: #F1CED5;
	box-shadow: 20px 20px #EC878D;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section__div--red-card p {
	padding: 30px;
	font-size: 3em;
}

#section__ul {
	color: #E44446;
	padding: 40px;
	margin: 0 auto;
}

#section__ul li {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 2px;
}

#section__ul p {
	font-size: 1.5em;
	letter-spacing: 1px;
}

#section__div--banner-text {
	background: #F8F6F7;
	color: #E44446;
	height: 30%;
	width: 80%;
	box-shadow: 20px 20px #E9898D;
	font-weight: bolder;
	position: relative;
	/*top: 120;*/
}

#section__div--banner-text{
	margin: 0;
	padding: 1em;
}

.section__div--card {
	width: 40%;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.5em;
}

.section__p--card-title {
	text-transform: uppercase;
	letter-spacing: 1px;
}
